.card {
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  color: rgba(0,0,0,.4);
  text-shadow: rgba(255,255,255,.2) 0 1px 0;
  padding: 1em 5%;
  background-color: #eee;
}
.card1{
  background-color: #926D9C;
}
.card2{
  background-color: #5E99CC;
}
.card3{
  background-color: #759E60;
}

